<div  *ngIf="successmsg"class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>{{successmsg}}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<table class="table ">
    <tr>
        <td>ID</td>
        <td>Full Name</td>
        <td>Email</td>
        <td>Mobile</td>
        <td colspan="2">Action</td>
    </tr>
    <tr *ngFor="let d of readUser">
      <td>{{d.id}}</td>
      <td>{{d.fullname}}</td>
      <td>{{d.email}}</td>
      <td>{{d.mobile}}</td>
      <td><button class="btn btn-flat" (click)="editId(d.id)">Edit</button></td>
      <td><button class="btn btn-flat" (click)="deleteId(d.id)">Delete</button></td>
    </tr>
</table>
