<div *ngIf="successmsg" class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>{{successmsg}}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>



<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Full Name </th>
      <th scope="col">Email</th>
      <th scope="col">Mobile</th>
      <th scope="col" colspan="2">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let d of readUser">
      <th scope="row">{{d.id}}</th>
      <td>{{d.fullname}}</td>
      <td>{{d.email}}</td>
      <td>{{d.mobile}}</td>
      <td>
        <a class="btn btn-flat" [routerLink]="['/create',d.id]">Edit</a>
      </td>
      <td>
        <button class="btn btn-flat" (click)="deleteId(d.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
